     <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/FotoPerfil.jpeg" class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">CATALINI ANA PAULA</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12  col-sm-8  col-md-8  col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>Me considero práctica, proactiva,
                    paciente, solidaria.
                    Me caracterizo por tener mucha empatía
                    y conectar con la gente, soy
                    comprensible, altruista, tranquila, me
                    centro en mi trabajo al 100% dando lo
                    mejor de mí.
                    Soy respetuosa, responsable, sagaz,
                    analítica. Mi flexibilidad me ayuda a
                    adaptarme con facilidad ante situaciones
                    nuevas, y aprendo con rapidez.
                    Tengo un nivel de auto superación alto,
                    perfeccionista y detallista. Soy practica
                    ante la resolución de problemas y
                    siempre busco la mejor manera de
                    realizar mi trabajo.
                    Debido a mi gran capacidad de empatía,
                    tengo una excelente escucha activa lo
                    que me permite congeniar con las
                    personas y poder comprender sus
                    necesidades, tratando de hallarles una
                    solución.
                    </p>
            </span>
        </div>
     </div>
    