<div class="row">
    <h1>Educacion</h1>
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul>
                <li>
                    <h1>Título BIOQUIMICA</h1> - <h3>(2019 – PRESENTE)</h3>
                </li>
                    <p>FACULTAD CIENCIAS QUIMICAS, UNIVERSIDAD
                        NACIONAL DE CORDOBA.
                        Cursando segundo año</p>
            </ul>
            <ul>
                <li>
                    <h1>Título BACHILLER CIENCIAS NATURALES</h1> - <h3>(MARZO 2013 – DICIEMBRE 2018)</h3>
                </li>
                    <p>IPEM “35” RICARDO ROJAS.
                        PREMIO A LA EXCELENCIA: BANCO ROELA.
                        MEDALLA MEJOR PROMEDIO 2013 AL 2018.
                        ABANDERADA DE LA PROMOCION 2018</p>
            </ul>
            <ul>
                <li>
                    <h1>ESTUDIOS INICIALES BASICOS</h1> - <h3>(2007 – 2012)</h3>
                </li>
                    <p>COLEGIO PRIMARIO “BLAS PARERA”
                        ABANDERADA DE LA PROMOCION 2012.</p>
            </ul>
    </div>
</div>
