<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAp">
        </div>
        <div class="redes">
                <a href="https://www.facebook.com/anapaula.catalini"><img src="../../../assets/facebook.png " id="facebook" ></a>
                <a href="https://twitter.com/CatitAnaa"><img src="../../../assets/twitter.png" id="twitter" ></a>
                <a href="https://github.com/AnaCatalini"><img src="../../../assets/github.png" id="github" ></a>
                <a href="https://www.instagram.com/anacatalini/"><img src="../../../assets/instagram.png" id="instagram" ></a>
                <a href="https://www.linkedin.com/in/ana-paula-catalini-4a89b2203/"><img src="../../../assets/linkedin.png" id="linkedin" ></a>
                <button type="button" class="btn btn-outline-light">INGRESO</button>
            </div>
    </div>
</div>

