<div class="row">
    <h1>Experiencia Laboral</h1>
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul>
                <li>
                    <h1>Cumed SA Anexion – Contact Center</h1> - <h3>(25 ENERO 2021 – ACTUALIDAD)</h3>
                </li>
                    <p>REPRESENTANTE DE VENTAS Y ATENCION AL CLIENTE
                        17 MESES COMO REPRESENTANTE DE VENTAS DE PRODUCTOS INTANGIBLES.
                        4 MESES COMO REPRESENTANTE DE ATENCION AL CLIENTE.
                        JORNADA TIEMPO PARCIAL DE 6HS DIARIAS Y 30HS SEMANALES.</p>
            </ul>
            <ul>
                <li>
                    <h1>Davinci Il Tano – Pizzeria
                    </h1> - <h3>(ENERO 2019- ENERO 2021)</h3>
                </li>
                    <p>ENCARGADA GENERAL:

                        MANEJO DE CAJA, GESTION DE SUELDOS.
                        GESTION DE EMPLEADOS, Y TIEMPOS.
                        ATENCION/VENTA TELEFONICA Y RECEPCION PEDIDOS.
                        PRODUCCION COMPLETA DE ALIMENTOS PARA LA VENTA.
                        CONTROL DE STOCK, MANEJO DE PROVEEDORES Y REPOSICION DE MATERIA PRIMA.
                        GESTION DE LIMPIEZA Y DESINFECCION.
                        ENCARGADA DE ABRIR Y CERRAR EL NEGOCIO.
                        SECRETARIA:
                        LLENADA DE PLANILLAS CON INGRESOS Y EGRESOS, VERIFICANDO PERDIDAS Y GANANCIAS.
                        MANEJO DE DINERO.
                        ENCARGADA DE VISUALIZAR CAMARAS, RECIBIR LOS CLIENTES.
                        ATENCION TELEFONICA Y PRESENCIAL.
                        ADMINISTRACION DE AGENDA, CITAS, CONTACTOS.
                        RECEPCION Y ENVIO DE CORREOS ELECTRONICOS.
                        GENERACION DE INFORMES MENSUALES.
                        Encontré otra oportunidad laboral que me permitio crecer aun mas, desarrollar mas a detalle mis
                        aptitudes y me permitio gestionar mejor el tiempo para poder avanzar con los estudios.
                    </p>
            </ul>
            <ul>
                <li>
                    <h1>Trabajo Independiente</h1> - <h3>(ENERO 2017 – ENERO 2019)</h3>
                </li>
                    <p>MAESTRA PARTICULAR Y NIÑERA.
                        EN LOS ULTIMOS AÑOS DE SECUNDARIA, OFRECI CLASES DE APOYO NIVEL SECUNDARIO Y
                        PRIMARIO EN FISICA, MATEMATICA, INGLES, LENGUA, QUIMICA, BIOLOGIA.
                        OFRECI CUIDADO Y ATENCION A NIÑOS ENTRE 0 Y 5 AÑOS</p>
            </ul>
    </div>
</div>
